﻿@{
    ViewBag.Title = "";// @Html.I18N("Ubicación de Trenes");
}

@section Navigation {
    @Html.Partial("_Navigation")
}

@section Styles
{
    @Styles.Render("~/bundles/page/css")
}

<div id="wrapper" style="background-color: #ffffff;">
    <div id="level0" class="level" style="height: calc(100vh - 80px );">
        <div style="position:relative !important; width:100%;height:100%;">

            <div id="MapaPrincipal" style="width:calc(100% - 350px);height:100%; float:left;"> </div>

            <div id="info-panel" style="float:left; width:350px; height:100%;     BACKGROUND-COLOR: gray; color:white">
                <div style="height:10px; float:left;margin-left: 10px; margin-top: 10px;cursor:pointer " onclick="Home.mostrarOcultar(false);">X</div>
                <br />
                <br /> <br />
                <div class="row">
                    <div class="col-xs-12" style="text-align:center; color:yellow; font-size:17px;">INFORMACIÓN DESTINO</div>

                    <div class="col-xs-offset-2 col-xs-4 m-t-md"> Planta:</div>
                    <div class="col-xs-6 m-t-md" id="planta">
                        CHURUBUSCO
                    </div>
                    <div class="col-xs-12 m-t-lg" style="text-align:center; color:yellow; font-size:17px;">
                        INFORMACIÓN   MATERIAL
                    </div>

                    <div class="col-xs-offset-2 col-xs-4 m-t-md"> PACKING LIST:</div>
                    <div class="col-xs-6 m-t-md" id="packinglist">CHU BONISLAND OCT18</div>

                    <div class="col-xs-offset-2 col-xs-4 m-t-md" "> PIEZAS:</div>
                    <div class="col-xs-6 m-t-md" id="piezas">CHU BONISLAND OCT18</div>

                    <div class="col-xs-offset-2 col-xs-4 m-t-md" "> TONELADAS:</div>
                    <div class="col-xs-6 m-t-md" id="toneladas">CHU BONISLAND OCT18</div>


                    <div class="col-xs-offset-2 col-xs-4 m-t-md" "> PROVEEDOR:</div>
                    <div class="col-xs-6 m-t-md" id="proveedor">CHU BONISLAND OCT18</div>


                    <div class="col-xs-12 m-t-lg" style="text-align:center; color:yellow; font-size:17px;">
                        INFORMACIÓN   MATERIAL
                    </div>

                    <div class="col-xs-offset-2 col-xs-4 m-t-md"> TREN:</div>
                    <div class="col-xs-6 m-t-md" id="tren">CHU BONISLAND OCT18</div>

                    <div class="col-xs-offset-2 col-xs-4 m-t-md" "> FECHA DE SALIDA:</div>
                    <div class="col-xs-6 m-t-md" id="fechaSalida">08-01-2019</div>

                    <div class="col-xs-offset-2 col-xs-4 m-t-md" "> ESTATUS:</div>
                    <div class="col-xs-6 m-t-md" id="status">EN VIAJE</div>


                    <div class="col-xs-offset-2 col-xs-4 m-t-md" "> UBICACION:</div>
                    <div class="col-xs-6 m-t-md" id="ubicacion">MONTERREY</div>

                </div>



            </div>

        </div>
    </div>
    <div id="level1" class="level">
    </div>
    <div id="level2" class="level">
    </div>
    <div id="level3" class="level">
    </div>
</div>
@section scripts { 
    @Scripts.Render("~/bundles/MapaBarco/js")
    @Scripts.Render("~/bundles/page/js")

    <script>
        $(document).ready(function () {
            var model = @Html.Raw(Json.Encode(ViewBag.model));
             //Call your js initial module here passing the model as parameter
            Home.init(model);
        });
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYHvOHIYDFpWwjN1BV1AZkPcLRaASOxhs&callback=initMap">
    </script>
    }