﻿ 
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<meta http-equiv="X-UA-Compatible" content="IE=edge">*@

    <meta name="viewport" content="minimum-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta http-equiv="refresh" content="7201" />


    <title>@ViewBag.Title</title>

    <!-- Primary style -->
    @Styles.Render("~/bundles/basics/css")

  

    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <meta name="description" content="The description of my page" />

</head>

<body class="  fixed-navbar">

    <!-- Simple splash screen-->
    <div class="splash">
        <div class="color-line"></div>
        <div class="splash-title">
            <h1> Ubicación de Trenes </h1>
            <p> Cargando..  </p>
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
    </div>

    <!--[if lt IE 7]>
    <p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Header -->
    <div id="header">
        @Html.Partial("_Header")
    </div>

    <!-- Navigation -->
    @if (IsSectionDefined("Navigation"))
    {
        @RenderSection("Navigation", required: false)
    }

    <!-- Main view  -->
    @RenderBody()

    <!-- Footer  -->
    @Html.Partial("_Footer")


    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/basics/js")
    @Scripts.Render("~/bundles/datetimepicker/js")
    @Scripts.Render("~/bundles/GestorComplementoMain/js")
    

    <script>
        $(document).ready(function () {
            var sitepath = '@(string.Format("{0}://{1}{2}",Request.Url.Scheme, Request.Url.Authority, Url.Content("~")))';

         //  Main.init(sitepath, username);
            Home.init("");
            setInterval(function () {
                    var now = new Date();
                    $('#reloj').text(now.getDate() +
                        "/" +
                        (now.getMonth() + 1) +
                        "/" +
                        now.getFullYear() +
                        " " +
                        now.getHours() +
                        ":" +
                        ((now.getMinutes() < 10) ? "0" : "") +
                        now.getMinutes());
                },
                10000);
        });
    </script>

    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)


</body>

</html>
