﻿
<aside id="menu" style="background-color:#fff;">
    <div id="navigation" class="m-l-md m-r-md" style="margin-top: 23px;">
        <div id="cabeceraContent">
            <div class="btn-group" id="filterBtnContainer" style="width: 100%; ">
                <button class="btn btn-default" style="width: 50%;"><i class="fa fa-eraser"></i>LIMPIAR</button>
                <button class="btn btn-primary" style="width: 50%;" id="BtnBuscar"><i class="fa fa-search"></i>BUSCAR</button>
            </div>
            <br />
            <span class="col-lg-12" style="padding-left: 0;">Tipo Material</span>
            <div class="form-group">
                <select class="form-control js-example-basic-single input-sm" id="select_Material"><option></option></select>
            </div>

            <span class="col-lg-12" style="padding-left: 0;">Planta</span>

            <div class="form-group">
                <select class="form-control js-example-basic-single input-sm" id="select_Planta"><option></option></select>
            </div>
            <span class="col-lg-12" style="padding-left: 0;">Ancho</span>

            <div class="form-group">
                <select class="form-control js-example-basic-single input-sm" id="select_Ancho"><option></option></select>
            </div>
            <span class="col-lg-12" style="padding-left: 0;">Grado</span>

            <div class="form-group">
                <select class="form-control js-example-basic-single input-sm" id="select_Grado"><option></option></select>
            </div>
            @*<div class="form-group m-b-sm">
            <form id="formCargaExcelFileInput">
                <input type="file" id="inputExcelCargaMateriales" style="display:none;" accept=".xls,.xlsx" />
            </form>
            <button type="button" class="btn btn-primary text-center" id="btnImpotarLevel0" onclick="$('#inputExcelCargaMateriales').click();" title="@Html.I18N("cargar excel")" style="width:100%;">
                <i class="fa fa-upload m-r-xs"></i>
                @Html.I18N("importar")
            </button>
        </div>*@
        </div>
    </div>
</aside>